.searchContent {
   height: 100vh;
   background-color: $color-background;
}

.search-container {
   background-color: $color-background;
   height: 150%;
   padding-bottom: 10rem;
   padding-left: 4rem;
}
.player{
   // width: auto;
   // height: 90%;
   margin: 100;
}
.groupEpisode{
   margin-top: 10px;
   margin-bottom: 10px;
}
.episode{
   margin-right:10px;
   margin-top:10px;
   background-color: red;
   padding-right: 10px;
   padding-left: 10px;
   border-radius: 4px;
   &:hover {
      transform: scale(1.09);
   }
}
.loading{
   display: flex;
   justify-content: center;
   align-content: center;
   padding-top: 25rem;
}
.no-results {
   display: flex;
   justify-content: center;
   align-content: center;
   color: #c5c5c5;
   height: 100%;
   padding-top: 25px;
   padding-bottom: 25rem;
   &__text {
      font-size: 1.6rem;

      &>* {
         padding-bottom: 1.8rem;
      }

      &>ul {
         // color: red;
         padding-left: 6.5rem;
         list-style: disc;

         &>* {
            padding-bottom: 0.2rem;
         }
      }
   }

}